@import './base.css';

#app,
#main-container,
#user-controls-container,
canvas {
  height: 100%;
  width: 100%;
}

#main-container {
  position: relative;
}
#user-controls-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#debug-container {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

canvas {
  display: block;
}

button {
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;

  &:disabled {
    cursor: not-allowed;
  }
}

.neon-btn {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background: var(--btn-bg-colour);
  color: var(--btn-text-colour);
  box-shadow: 0 0 10px rgba(var(--neon-purple-r), var(--neon-purple-g), var(--neon-purple-b), 0.5);
  transition: all 0.3s ease;
}

/* only style hover if device supports it i.e. mouse pointer and not touch devices */
@media (hover: hover) {
  .neon-btn:hover:enabled {
    box-shadow:
      0 0 20px rgba(var(--neon-purple-r), var(--neon-purple-g), var(--neon-purple-b), 1),
      0 0 30px rgba(var(--neon-purple-r), var(--neon-purple-g), var(--neon-purple-b), 0.8);
    background: var(--neon-purple);
  }
}

.bi {
  vertical-align: -.125rem
}
