@import './base.css';

#app,
#main-container,
#user-controls-container,
canvas {
  height: 100%;
  width: 100%;
}

#main-container {
  position: relative;
}
#user-controls-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#debug-container {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

canvas {
  display: block;
}

button {
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  color: #EEEEEE;
  border-color: #EEEEEE;

  &:disabled {
    cursor: not-allowed;
    border-color: #333333;
    color: #333333;
  }
  &:active {
    background-color: #EEEEEE;
    color: #000000;
  }
}

/* only style hover if device supports it i.e. mouse pointer and not touch devices */
@media (hover: hover) {
    button:hover:enabled {
      background-color: #EEEEEE;
      color: #000000;
    }
}

.bi {
  vertical-align: -.125rem
}
